<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="myCollections.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="myCollectionsSQLiteEntities" connectionString="Data Source=.\Data\SqlLite\myCollections.db;Synchronous=Off;Journal Mode=WAL;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding3" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding4" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding5" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding6" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding7" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding8" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding9" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePort"/>
      <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortCA"/>
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortCN"/>
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortDE"/>
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortFR"/>
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortIT"/>
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortJP"/>
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortUK"/>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortUS"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <myCollections.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="LastCategory" serializeAs="String">
        <value>Movie</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="FastSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenameFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CoverType" serializeAs="String">
        <value />
      </setting>
      <setting name="AppsView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="BooksView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="GamesView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="MoviesView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="MusicsView" serializeAs="String">
        <value>Cube</value>
      </setting>
      <setting name="NdsView" serializeAs="String">
        <value>Cube</value>
      </setting>
      <setting name="SeriesView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="XXXView" serializeAs="String">
        <value>Cover</value>
      </setting>
      <setting name="AppsOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="BooksOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="GamesOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="MoviesOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="MusicsOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="NdsOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="SeriesOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="XXXOrder" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="AppsGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="BooksGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="GamesGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MoviesGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MusicsGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="NdsGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="SeriesGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="XXXGroupBy" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="AppsSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="BooksSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="GamesSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="MoviesSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="MusicsSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="NdsSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="SeriesSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="XXXSelection" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="DefaultSkin" serializeAs="String">
        <value>SugarBrown</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>EN</value>
      </setting>
      <setting name="HideApps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideBooks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideGamez" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideMovie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideNds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideXXX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XXXPass" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemDbClick" serializeAs="String">
        <value>Update</value>
      </setting>
      <setting name="EnablePartialMatch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAdultBluRayHdDvd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAllMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAlloCineMovies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAlloCineSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonBook" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrBook" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonGamez" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrGamez" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeGamez" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItGamez" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnGamez" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpGamez" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonMovie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrMovie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeMovie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItMovie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnMovie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpMovie" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonNds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrNds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeNds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItNds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnNds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpNds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonFrApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAmazonDeApps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonItApps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonCnApps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonSpApps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAmazonFrXXX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableBingApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingBooks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingGamez" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingMovie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingNds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBingXXX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCdUniverse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableFnacMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHotMovies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableIMDBMovies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableIMDBSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableJeuxVideoGamez" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableJeuxVideoNds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableOrgazmik" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSoftpedia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSugardVod" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTucows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCheckUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TvixOutput" serializeAs="String">
        <value>C:\Tvix\</value>
      </setting>
      <setting name="TvixInFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLastFM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTMDBMovies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTMDBFrMovies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTMDBDeMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTMDBItMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTMDBCnMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTMDBSpMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTVDBSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTVDBFrSeries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTVDBDeSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTVDBItSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTVDBCnSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTVDBSpSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTMDBXXX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSoftonicApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDorcelShop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAdultDvdEmpire" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TvixThemeMovie" serializeAs="String">
        <value>BBT-XT</value>
      </setting>
      <setting name="TvixThemeMusic" serializeAs="String">
        <value>BBT-XT-Square</value>
      </setting>
      <setting name="TvixThemeSerie" serializeAs="String">
        <value>BBT-XT</value>
      </setting>
      <setting name="TvixThemeXXX" serializeAs="String">
        <value>BBT-XT</value>
      </setting>
      <setting name="AppsZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BooksZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="GamesZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MoviesZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MusicsZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NdsZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SeriesZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="XXXZoom" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="HideDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDetailLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyIp" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="LogToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableGamesDBGames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableGamesDBNds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Device" serializeAs="String">
        <value>Tvix</value>
      </setting>
      <setting name="TvixThemeGames" serializeAs="String">
        <value>BBT-XT</value>
      </setting>
      <setting name="AutoUpdateID3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="SendLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoBackupDB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowIconToolBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableNokiaMusicUs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableGraceNoteUs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTVDBPtSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTMDBPtMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAdoroCinemaMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFilmStartsMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSensaCineMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableScreenRushMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableBeyazperdeMovies" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAdoroCinemaSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFilmStartsSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSensaCineSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableScreenRushSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableBeyazperdeSeries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmationDelete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportLastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AddMediaLastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableMusicBrainzUs" serializeAs="String">
        <value>True</value>
      </setting>
    </myCollections.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
